body {
  padding:0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0 0 10px;
}

img {
  border: 0;
}

.container {
  padding: 0px 10px 0px 10px;
}

.list-container {
  max-width: 325px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.clearfix {
  overflow: auto;
}
/* Main Header for howler */

.howlr-header {
  max-width:325px;
  margin: auto;
  margin-top: 0;
  padding: 3px;
  background-color: #EE6E73;
  color: #FFF;
}

.wolf-header {
  padding: 11px;
}

.howlr-header-text {
  margin: 0;
  font-size: 1.8em;
  padding: 8px;
  color: #FFF;
  text-decoration: none;
}

/* Wolf Count */
.wolf-count-text {
  font-size: 2em;
}

/* Wolf Listing */

.wolf-container {
  max-width: 325px;
  padding: 5px;
  padding-bottom: 0px;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  margin: auto;
}

.wolf-image-wrapper {
  width: 46px;
  height: 46px;
  margin: 0;
  padding: 5px 0px 0px 10px;
  float: left;

}

.wolf-image {
  width: 100%;
  border-radius: 50%;
}

.wolf-bio-container {
  width: 77%;
  margin: 0;
  padding: 5px;
  float: right;
}

.wolf-name-wrapper {
  width: 100%;
  padding-bottom: 5px;
}

.wolf-name {
  display: inline;
  float: left;
  margin: 0;
}

.wolf-howls-count {
  display: inline;
  float: right;
  color: #6F6A6F;
  margin: 0;
  margin-right: 5px;
}

.wolf-description-wrapper{
  width: 100%;
  text-align: left;
}

.wolf-description {
  font-size: 0.9em;
}

/* New Wolf Button */

.new-wolf-button {
  margin-top: 20px;
  padding: 5px 25px 5px 25px;
  background-color: #B71C1C;
  border-radius: 2px;
  color: #FFF;
  float: right;
}

/* New Wolf Form */


.wolf-submit-button {
  background-color: #B71C1C;
  border-radius: 2px;
  color: #FFF;
  float: right;
  border-style: none;
  padding: 10px 15px 10px 15px;
  margin-top: 20px
}

.back-button {
  background-color: #EE6E73;
  margin-top: 20px;
  color: #FFF;
  float: left;
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.error-box {
  text-align: center;
  padding: 5px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/* Howls Nav Buttons */

/* ##################################################################### */

.large-screen-howl-form {
  display: none;
  margin: 10px;
  padding: 5px;
  padding-left: 15px;
  background-color: #EE6E73;
  border-radius: 3px;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.howl-hidden-form {
  margin-bottom: 60px;
  height: 90px;
  display: none;
}

.hidden-form {
  border-radius: 3px;
}

.nav-button {
  background-color: #B71C1C;
  color: #FFF;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  margin: 10px 0px 0px 0px;
  text-decoration: none;
}

.new-howl {
  float: left;
}

.see-pack {
  float: right;
}

/* Howls list */

.howls-list-container {
  margin: 0;
  padding: 10px;
}

.howl-container {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.howl-wrapper {
  width: 100%;
  margin: 0;
}

.howl-header {
  width: 100%
  margin:0;
  padding: 0;
}

.howl-name-wrapper {
  width: 50%;
  margin: 0px;
  display: inline;
  position:relative;
}

.howl-name {
  margin: 0;
  display: inline;
  position: absolute;
  top:10px;
  font-weight: 200;
}

.howl-day {
  margin-right: 9px;
  margin-top:15px;
  display: inline;
  float: right;
  color: #7C7C84;
  font-size: 1.2em;
  text-align: right;
}

.howl-wolf-image-wrapper {
  width: 40px;
  margin: 0;
  float: right;
}

.howl-content-wrapper {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 1px;
}

.howl-link {
  color: #FFB44C;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.howl-image {
  width: 100%
}

/* New Howl */

.wolf-select {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 2px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  font-size: 0.8em;
  background-color: #FFF;

}
.form-input {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 2px;
  width: 95%;
  padding: 5px;
  margin-top: 20px;
  font-size: 0.8em;
}

/* Howl Replies */

.original-howl {
  margin-bottom: 20px;
}

.make-inline {
  display: inline;
}

.reply-header {
  width: 100%;
  margin: auto;
}

.howl-reply-container {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/* Hidden features in howl index */

.wolf-listing {
  display: none;
  background-color: #EE6E73;
  color: #FFF;
}

@media screen and (min-width: 992px) {

  .container {
    position: relative;
    width: 900px;
    margin: auto;
  }

  .list-container {
    position: absolute;
    top: 0px;
    right: 20px;
    display: inline-block;
    width: 450px;
    margin: auto;
    max-width: 450px;
  }

  .wolf-listing {
    position: absolute;
    top: 46px;
    left: 20px;
    display: inline-block;
    width:370px;
    margin: 20px;
    border-style: solid;
    border-color: #F1F1F1;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }

  .large-wolf-wrapper{
    width: 100%;
  }

  .howlr-header {
    max-width: 450px;
  }

  .wolf-container {
    background-color: #FFF;
    color: #000;
  }

  .howl-nav-wrapper {
    display: none;
  }

  .large-pack-button {
    position: absolute;
    bottom: -44px;
    left: 115px;
  }

  .large-screen-howl-form {
    display: block;
  }
}
