body {
  padding:0;
  margin: 0;
}

.container {
  padding: 0px 5px 0px 5px;
}

.list-container {
  max-width: 325px;
  margin: auto;
}

/* Main Header for howler */

.howlr-header {
  max-width:325px;
  margin: auto;
  margin-top: 0;
  background-color: #EE6E73;
  color: #FFF;
}

.howlr-header-text {
  margin: 0;
  font-size: 1.8em;
  padding: 20px;
  color: #FFF;
  text-decoration: none;
}

/* Wolf Count */
.wolf-count-text {
  font-size: 2em;
}

/* Wolf Listing */

.wolf-container {
  max-width: 325px;
  padding: 5px;
  padding-bottom: 0px;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  margin: auto;
}

.wolf-image-wrapper {
  width: 23%;
  margin: 0;
  padding: 5px 15px 0px 10px;
  float: left;
}

.wolf-image {
  border-radius: 50%;
  width: 100%;
}

.wolf-bio-container {
  width: 77%;
  margin: 0;
  padding: 5px;
  float: right;
}

.wolf-name-wrapper {
  width: 100%;
  padding: 10px;
}

.wolf-name {
  display: inline;
  float: left;
  margin: 0;
}

.wolf-howls-count {
  display: inline;
  float: right;
  color: #6F6A6F;
  margin: 0;
}

.wolf-description-wrapper{
  width: 100%;
  text-align: left;
}

.wolf-description {
  font-size: 0.9em;
}

/* New Wolf Button */

.new-wolf-button {
  margin-top: 20px;
  padding: 5px 25px 5px 25px;
  background-color: #B71C1C;
  border-radius: 2px;
  color: #FFF;
  float: right;
}

/* New Wolf Form */

.form-input {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 2px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  font-size: 0.8em;
}

.wolf-submit-button {
  background-color: #B71C1C;
  border-radius: 2px;
  color: #FFF;
  float: right;
  border-style: none;
  padding: 10px 15px 10px 15px;
  margin-top: 20px
}

.back-to-wolves-button {
  background-color: #EE6E73;
  margin-top: 20px;
  color: #FFF;
  float: left;
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
}

.error-box {
  text-align: center;
  padding: 5px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/* Howls Nav Buttons */

.nav-button {
  background-color: #B71C1C;
  color: #FFF;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  margin: 10px 0px 0px 0px;
}

.new-howl {
  float: left;
}

.see-pack {
  float: right;
}

/* Howls list */

.howls-list-container {
  margin: 0;
  padding: 10px;
}

.howl-container {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.howl-wrapper {
  width: 100%;
  margin: 0;
}

.howl-header {
  width: 100%
  margin:0;
  padding: 0;
}

.howl-name-wrapper {
  width: 50%;
  margin: 0px;
  display: inline;
  position:relative;
}

.howl-name {
  margin: 0;
  display: inline;
  position: absolute;
  top:10px;
  font-weight: 200;
}

.howl-day {
  margin-right: 9px;
  margin-top:15px;
  display: inline;
  float: right;
  color: #7C7C84;
  font-size: 1.2em;
  text-align: right;
}

.howl-wolf-image-wrapper {
  width: 40px;
  margin: 0;
  float: right;
}

.howl-content-wrapper {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 1px;
}

.howl-link {
  color: #FFB44C;
  margin-top: 20px;
  margin-right: 20px;
}

.howl-image {
  width: 100%
}

/* New Howl */

.wolf-select {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 2px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  font-size: 0.8em;
  background-color: #FFF;

}
.form-input {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
  border-bottom-width: 2px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  font-size: 0.8em;
}

/* Howl Replies */

.original-howl {
  margin-bottom: 20px;
}

.make-inline {
  display: inline;
}

.reply-header {
  width: 100%;
  margin: auto;
}

.howl-reply-container {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
