


<p id="p1" value="<%=@howl.id%>">Like (<span id="like">0</span>)</p>

<script>
$(document).ready(function(){
document.getElementById("p1").onclick = myOtherFunction();

function myOtherFunction(elm) {
  var target = document.getElementById("p1");
  var howlId = target.getAttribute("value");
  var postData = {howl_id: howlId};
  alert(postData);
  $.ajax({url: "/howls/like", method: "post", data: postData, success: function(result){
    $("#like").html(result);}
            //$("#like").html(result);
        });
}
});
</script>
