<!DOCTYPE html>
<html>
  <head>
    <title>Howlr</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link to jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Link to javascript file -->
    <script src="/my_scripts.js"></script>

    <!-- Link to Google Fonts Lato -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
